#section1{
    background-color: rgb(238, 0, 90);
}
#section2{
    background-color: rgb(44, 62, 80);
}
#section3{
    background-color: rgb(51, 153, 204);
}
.section{
    text-align: center;
    color: white;
}

#section4{
background-image: url("https://cdn-images-1.medium.com/max/1520/1*Jj-Xzp0sIkUg23HOqzZF4w.png");
color: black;
}
#section5{
    background-image: url("https://media.wired.com/photos/59323f1758b0d64bb35d0714/master/pass/gmail-inline.jpg");
}
#section6{
    background-color: rgb(61, 140, 100);
}
.section{
    text-align: center;
    color: white;
}